
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">

	<div class="agileits-top">
		<div>
			<p>Password reset link has been sent to your email, please check your Inbox</p>
		</div>
		<div>
			<p><a href="https://mail.google.com/mail/u/0/#inbox" target="_blank">Your Inbox</a></p>
		</div>
	</div>
</div>



