@model Department


@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<br />
<br />

<div>
    <partial name="DepartmentPartialView/_DeleteDetailsPartialView" />

    <a asp-controller="Department" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-controller="Department" asp-action="Index" class="btn btn-light">Back To List</a>
</div>