@model Department

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<br />
<br />

<form asp-action="Edit">
    <partial name="DepartmentPartialView/_CreateEditPartialView" model="@Model"/>

    <input type="submit" value="Save" class="btn btn-primary" />
    <a asp-controller="Department" asp-action="Index" class="btn btn-light">Back To List</a>
</form>