@model EmployeeViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<br />
<br />

<form asp-action="Delete">
   <partial name="EmployeePartialView/_DeleteDetailsPartialView"/>

   <input type="hidden" asp-for="ImageName"/>

    <input type="submit" value="Delete" class="btn btn-danger"/>
    <a asp-controller="Employee" asp-action="Index" class="btn btn-light">Back To List</a>
</form>